
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "cloudhack"]
	path = cloudhack
	url = https://github.com/souvikhaldar/cloudhack.git
